<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7006486065-q4eck2gn9j4ai1nu1372rnfc115oc3rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7006486065-q4eck2gn9j4ai1nu1372rnfc115oc3rh</string>
	<key>API_KEY</key>
	<string>AIzaSyCKeffo28n8sl4m4a6GR7s1hzX2EKvLmdU</string>
	<key>GCM_SENDER_ID</key>
	<string>7006486065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fouadbahari.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-5e54f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-5e54f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7006486065:ios:d7c751e0ad7a4b77c89f10</string>
</dict>
</plist>